.contact-card {
    background-color: #2d3748;
    /* gray-800 */
    border-radius: 0.75rem;
    /* rounded-xl */
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 450px;
    border: 1px solid #4a5568;
    /* gray-700 */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-header {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    border-bottom: 1px solid #4a5568;
    /* gray-700 */
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
}

.contact-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.contact-birthday {
    font-size: 0.875rem;
    color: #a0aec0;
}

.accordion-icon {
    transition: transform 0.3s ease-in-out;
}

.accordion-icon.open {
    transform: rotate(180deg);
}


.contact-section h4 {
    font-weight: 600;
    color: #cbd5e0;
    margin-bottom: 0.25rem;
}

.contact-section ul {
    list-style-type: none;
    padding-left: 0;
    color: #e2e8f0;
}

.contact-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.tag {
    background-color: #4a5568;
    color: #e2e8f0;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 500;
}


.notes-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-left: 0;
    list-style-type: none;
}

.note-item {
    background-color: #1a202c;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border-left: 4px solid #9824d3;
}


.note-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.note-tag {
    background-color: #2d3748;
    font-size: 0.7rem;
    font-style: italic;
}

.edit-container {
    position: relative;
}

.edit-editor, .name-display {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: scale(0.95);
}

.edit-editor.visible, .name-display.visible {
    opacity: 1;
    transform: scale(1);
}