.floating-icons-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.icon {
    position: absolute;
    bottom: -150px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.6;
    animation: float 25s infinite linear;
}

.icon1 {
    left: 10%;
    width: 80px;
    height: 80px;
    background-image: url('/logo.png');
    animation-delay: 0s;
    animation-duration: 20s;
}

.icon2 {
    left: 30%;
    width: 100px;
    height: 100px;
    background-image: url('/logo.png');
    animation-delay: 5s;
    animation-duration: 30s;
    animation: float 30s infinite linear, rotate 4s infinite linear;
}

.icon3 {
    left: 50%;
    width: 60px;
    height: 60px;
    background-image: url('/logo.png');
    animation-delay: 2s;
    animation-duration: 18s;
}

.icon4 {
    left: 70%;
    width: 90px;
    height: 90px;
    background-image: url('/logo.png');
    animation-delay: 8s;
    animation-duration: 25s;
    animation: float 25s infinite linear, rotate 3s infinite linear;
}

.icon5 {
    left: 90%;
    width: 70px;
    height: 70px;
    background-image: url('/logo.png');
    animation-delay: 12s;
    animation-duration: 22s;
}

@keyframes float {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }

    100% {
        transform: translateY(-120vh);
        opacity: 0;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}